@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: rgb(0, 0, 0);
  --background-start-color: #f3f4f6;
  --background-end-color: #ffffff;
  --primary-color: #4f46e5;
  --hover-color: #6b63ff;
  --title-hover-color: #f3f87a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: rgb(255, 255, 255);
    --background-start-color: #111827;
    --background-end-color: #1f2937;
    --primary-color: #7c3aed;
    --hover-color: #9561e2;
    --title-hover-color: #f3f87a;
  }
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, var(--background-start-color), var(--background-end-color));
  color: var(--foreground-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus,
button:focus {
  outline: none;
}

nav,
footer {
  background-color: var(--primary-color);
  color: white;
}

nav a,
footer a {
  color: white;
  text-decoration: none;
}

nav a:hover,
footer a:hover {
  text-decoration: underline;
}

.button {
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button-link {
  display: inline-block;
  margin-right: 10px;
}

.button-link:last-child {
  margin-right: 0;
}

.button-link:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.title-link:hover {
  color: var(--title-hover-color);
}

.titleb {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.titleb:hover {
  opacity: 0.8;
  text-decoration: none;
  color: #f3f87a;
}

.buttons {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.buttons:hover {
  background-color: #4f46e5;
  text-decoration: none;
  color: #f3f87a;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer-container {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 0;
}

.footer-box {
  text-align: center;
}

.footer-box p {
  margin: 0;
}

@media (max-width: 767px) {
  .button-container {
    flex-direction: column;
    align-items: center;
  }

  .buttons {
    width: 100%;
  }
}