@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-color: rgb(0, 0, 0);
    --background-start-color: #f3f4f6;
    --background-end-color: #ffffff;
    --primary-color: #4f46e5;
    --hover-color: #6b63ff;
    --title-hover-color: #f3f87a;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-color: rgb(255, 255, 255);
        --background-start-color: #111827;
        --background-end-color: #1f2937;
        --primary-color: #7c3aed;
        --hover-color: #9561e2;
        --title-hover-color: #f3f87a;
    }
}

footer {
    background-color: var(--primary-color);
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.footer-container {
    background-color: #4f46e5;
    color: white;
    padding: 1rem 0;
}

.footer-box {
    text-align: center;
}

.footer-box p {
    margin: 0;
}